body {
  margin: 0;
  padding: 0;
}

.storyDiv {
  border: 2px solid black;
  margin-bottom: 2px;
  height: auto;
  max-height: 200px;
  width: 600px;
}

.storyDiv:hover {
  background-color: rgb(228, 234, 236);
}

.storyComponent {
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
}