body {
  margin: 0;
  padding: 0;
}

.storyDiv {
  margin-bottom: 2px;
  height: auto;
  /* max-height: 200px; */
  width: 600px;
  display: inline-block;
  text-align: end;
}

.storyDiv:hover {
  background-color: rgb(228, 234, 236);
}

.storyComponent {
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
}

.storyComponent:hover {
  background-color: rgb(228, 234, 236);
}