@import "globals";

.navbar {
    background-color: $primaryColor;
    height: $navHeight;
    min-height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 186px 70px 70px auto 1fr;
    justify-content: space-around;
    align-items: center;
    font-family: $secondaryFont;
    color: $notBlack;
    a {
        color: $notBlack;
        text-decoration: none;
    }
}

.verticalLogoDiv {
    grid-column: 1/2;
    align-self: center;
    margin: 0 0 0 30px;
}

.verticalLogo {
    height: 30px;
    width: auto;
    padding-top: 5px;
}

.verticalLogoDiv2 {
    grid-column: 1/2;
    margin: 0 0 0 30px;
}

.verticalLogo2  {
    height: 30px;
    width: auto;
    padding-top: 5px;
}

.navLink {
    justify-self: end;
}

// .userName {
//     display: inline;
//     align-self: bottom;
//     padding: 8px 4px 0px 0;
//     margin: 0 0 12px 0;
//     text-align: end;
//     font-family: $secondaryFont;
//     color: $notBlack;
//     border-bottom: 4px solid $notBlack;
//     font-size: 30px;
// }

.logoutDiv {
    grid-column: 5/6;
    justify-self: end;
    .logoutButton {
        background-color: $buttonColor;
        padding: 2px 6px;
        margin: 5px 30px 5px 30px;
        color: $notBlack;
        border: 1px solid $buttonOutline;
        border-radius: 3px;
        font-family: $primaryFont;
        font-size: 14px;
        &:active {
            background-color: $buttonHover;
        }
        &:focus {
            outline: none;
        }
    }
}

.menuDiv {
    width: 100%;
    border-top: 4px solid $secondaryColor;
    border-bottom: 4px solid $secondaryColor;
    border-radius: 4px;
    padding: 10px 0;
    margin-top: 2px;
    background-color: $thirdColor;
    display: inline-block;
}

.menuLink {
    display: inline;
    padding: 16px;
    a {
        color: $notBlack;
        text-decoration: none;
        font-size: 20px;
    }
}